<br />

<div *ngIf="serverAnswer" class="error_message">
  {{serverAnswer.error}}
</div>
<div class="add">
  <h3>Dodaj nowy rekord</h3>
  <form [ngFormModel]="myForm" (ngSubmit)="addBike(brand.value, model.value, email.value)">

    <label>Marka:</label>
    <br />
    <input type="text" #brand [ngFormControl]="myForm.controls.brand" placeholder=" Podaj marke roweru ">
    <div style="color: red" *ngIf="myVal.hasError('required') ">Pole wymagane</div>
    <div style="color: red" *ngIf="myVal.hasError('long') ">Długość znaków marki musi być pomiędzy 3 a 20</div>
    <br />
    <label>Model:</label>
    <br />
    <input type="text " #model placeholder="Podaj model ">
    <br />
    <label>E-mail:</label>
    <br />
    <input type="email " #email [ngFormControl]="myForm.controls.email" placeholder="Podaj adres e-mail ">
    <div style="color: red" *ngIf="myValTwo.hasError('required') ">Pole wymagane</div>
    <div style="color: red" *ngIf="myValTwo.hasError('reqMail') ">Podaj poprawny e-mail</div>
    <br />
    <button type="submit" [disabled]="myVal.hasError('long') ===true || myVal.hasError('required') === true  || myValTwo.hasError('required') === true || myValTwo.hasError('reqMail') === true">Dodaj rower</button>
  </form>
</div>
<hr />
<div class="delete ">
  <h3>Usuń rekord</h3>
  <table>
    <tr *ngFor="#Bike of bikes ">
      <td>{{Bike.brand}}</td>
      <td>{{Bike.model}}</td>
      <td>{{Bike.email}}</td>
      <td>
        <button type="submit " (click)="deleteBike(Bike.brand) ">Usuń</button>
      </td>
    </tr>
  </table>
</div>
<hr />
<div class="edit ">
  <h3>Edytuj rekord</h3>
  <form (ngSubmit)="editBike(trololo.value, newBrand.value, newModel.value, newEmail.value) ">
    <select #trololo>
      <option value=" " disabled="disabled " selected="selected ">
        Wybierz rekord do edycji:
      </option>
      <option *ngFor="#Bike of bikes " value="{{Bike._id}} ">
        {{Bike.brand}}
      </option>
    </select>
    <br />
    <br />
    <input type="text " placeholder="Nowa marka " #newBrand required>
    <input type="text " placeholder="Nowy model " #newModel required>
    <input type="text " placeholder="Nowy adres e-mail " #newEmail required>
    <br />
    <button type="submit ">Edytuj</button>
  </form>
</div>
<br />
<a [routerLink]="['Main'] ">Powrót do strony głównej.</a>