.add {
    background-color: rgb(0, 255, 0);
  	background-color: rgba(0, 255, 0, 0.5);
    max-width: 1024px;
    font-style: oblique;
    margin: auto;
    padding: 10px;
}
.delete {
    background-color: rgb(255, 0, 0);
  	background-color: rgba(255, 0, 0, 0.5);
    max-width: 1024px;
    font-style: oblique;
    margin: auto;
    padding: 10px;
}
.edit {
    background-color: rgb(255, 255, 0);
  	background-color: rgba(255, 255, 0, 0.5);
    max-width: 1024px;
    font-style: oblique;
    margin: auto;
    padding: 10px;
}

input {
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input:focus {
    border: 3px solid #555;
}

select {
    width: 75%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

button {
    background-color: #1491BA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

table, td, th {
    border: 1px solid #000;
    text-align: center;
    background-color: #fff;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th, td {
    padding: 5px;
}
