<br />
<span style="color:#1491BA; font-size: 32;">Projekt zaliczeniowy z przedmiotu Bogaty Interfejs Użytkownika w Aplikacjach Webowych.</span>
ANGULAR 2
<table>
  <tr>
    <th>Marka</th>
    <th>Model</th>
    <th>E-mail</th>
  </tr>
  <tr *ngFor="#Bike of bikes">
    <td>{{Bike.brand}}</td>
    <td>{{Bike.model}}</td>
    <td>{{Bike.email}}</td>
  </tr>
</table>