table {
    position:absolute;
    border-collapse: collapse;
		padding : 30px;
    width: 768px;
    height: 30px;
    border: 1px solid #fff;
		left:50%;
		top:50%;
		margin:-200px 0 0 -383px;
    background-color: #90C3D4;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #1491BA;
    color: white;
}
